.checkoutButtonSection{
    text-align: center;
    padding: 20px;
}

.checkoutButton {
    border: none;
    color: white;
    border-radius: 20px;
    background-color: red;
    padding: 5px 20px;
}


@media only screen and (max-width: 480px) {
    .checkoutButtonSection{
        width: 768px;
    }
}
