.black-footer{
    background-color: black;
    margin-top: 20px;
    height: 370px;
    padding: 50px;
}

.black-footer img{
    height: 30px;
}

.footer-textColor{
    color: white;
}
.grayColor{
    color: gray;
}

.rowUp {
    margin-top: 20px;
}

.rowDown {
    margin-top: 76px;
}

@media only screen and (max-width: 768px) {
    .rowUp {
        margin-top: 0;
    }
    
    .rowDown {
        margin-top: 35px;
    }

    .text {
        font-size: 12px;
        margin-bottom: 0;
    }
    .black-footer{
        height: 250px;
    }
}


@media only screen and (max-width: 425px) {
    .black-footer{
        font-size: 14px;
        height: 310px;
        width: 776px;
        height: 260px;
    }
    
    .logoImage {
        width: 330px;
    }
    
    .firstArea {
        width: 160px;
    }

    .secondArea {
        width: 160px;
    }

    .rowUp {
        margin-bottom: 60px;
    }
    
    .footerCopy {
        width: 350px;
    }

    .policy {
        width: 115px;
    }

    .terms {
        width: 115px;
    }

    .pricing {
        width: 115px;
    }

}