.Finalreview-img{
    float: left;
    margin: 5px;
    
}

.Finalreview-img img{
    height: 70px;
    width: 70px;
}

.Finalreview-detail{
    float: left;
    margin: 5px;
    padding: 10px;
    
}

.Finalreview-twoButton{
    margin: 20px;
    text-align: right;
}

.Finalreview-twoButton button{
    margin: 5px;
}

.Finalreview{
    background-color: rgb(233, 231, 231);
    height: 100px;
    width: 400px;
    border-radius: 10px;
    margin: 10px;
}