.review{
    margin: 50px;
    height: 600px;
    display: flex;
    /* justify-content: center; */
}

.reviewLeftSide{
    float: left;
    margin: 20px;
    margin-right: 100px;
}

.reviewRightSide{
    float: left;
    margin: 20px;
}

.placeOrder {
    color: white;
    background-color: lightgray;
    padding: 5px 69px;
    border-radius: 5px;
}

.placeOrder:hover {
    text-decoration: none;
    color: white;
}


@media only screen and (max-width: 425px) {
    .review{
        display:inherit;
        width: 662px;
        height: 750px;
        margin-left: 145px;
        
    }
    
    .reviewRightSide{
        float: left;
        margin: 20px;
        margin-bottom: 100px;
    }
}