.delivery {
    display: flex;
    margin: 10px 100px;
  justify-content: center;
}

.mapImage {
    width: 540px;
    height: 540px;
    margin-right: 50px;
}

.bike {
  margin-left: 20px;
}

.contactArea {
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(238, 236, 236);
}

.location {
    margin: 15px;
    padding: 15px;
    border-radius: 5px;
    background-color: white;
}

.location p {
  margin: 0;
}

.locationTo {
  margin-bottom: 20px;
}

.timeSection {
  margin-left: 15px;
}

.contactButton {
  text-align: center;
}

.contactButton button {
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    background-color: red;
}
