.logo2{
    width: 100px;
}

.userName {
    font-size: 20px;
    font-weight: 700;
    margin: 5px 10px;
    color: blue !important;
}

.login-signUp a{
    padding: 5px 15px;
    margin-right: 10px;
    text-decoration: none;
}

.searchBox{
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background-color: white;
}

.searchInputBox {
    border: none;
    padding: 5px 0;
    border-radius: 20px;
}


.searchInputBox:focus {
    outline: none;
  }

.redButton{
    float: right;
    border: none;
    color: white;
    padding: 5px 20px;
    border-radius: 20px;
    background-color: red;
}

.bannerbackground{
    width: 100%;
    height: 500px;
    text-align: center;
    padding-top: 178px;
    background-size: cover;
    background-position: 100% 70%;
    background-repeat: no-repeat;
    background-image: url("../../images/bannerbackground2.png");
}




@media only screen and (max-width: 1200px) {
    .bannerbackground{
        height: 370px;
        padding-top: 115px;
        /* background-position: 100% 70%; */
    }
  }
@media only screen and (max-width: 1024px) {
    
  }
@media only screen and (max-width: 768px) {
    .bannerbackground{
        height: 281px;
        padding-top: 84px;
    }
    
  }
@media only screen and (max-width: 480px) {
    .bannerbackground{
        width: 768px;
    }
    .navber {
        width: 768px;
    }
    
  }





