.logo2{
    width: 100px;
}

.login-signUp a{
    margin-right: 10px;
    padding: 5px 15px;
    text-decoration: none;
}

.redButton{
    background-color: red;
    border-radius: 20px;
    border: none;
}

.searchBox{
    border-radius: 20px;
    border: none;
}

.bannerbackground{
    text-align: center;
    padding-top: 50px;

    background-image: url("../../images/bannerbackground2.png");
    background-repeat: no-repeat;
    
    /* height: 40vw; */
    height: 300px;
    background-size: cover;
    background-position: 100% 0%;
    width: 100%;

}

.food-list-ancor{
    text-align: center;
    padding: 30px;
}

.food-list-ancor a{
    color: black;
    margin: 30px;
    
}





