.logo2{
    width: 100px;
}

.login-signUp a{
    margin-right: 10px;
    padding: 5px 15px;
    text-decoration: none;
}

.searchBox{
    /* border-radius: 20px; */
    /* border: none; */
    
    background-color: white;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    /* display: flex;
    justify-content: center; */

}

.searchInputBox {
    border: none;
    border-radius: 20px;
    padding: 5px 0;
}


.searchInputBox:focus {
    outline: none;
  }

.redButton{
    float: right;
    border: none;
    color: white;
    border-radius: 20px;
    background-color: red;
    padding: 5px 20px;
}

.bannerbackground{
    width: 100%;
    height: 500px;
    text-align: center;
    padding-top: 178px;
    background-size: cover;
    background-position: 100% 70%;
    background-repeat: no-repeat;
    background-image: url("../../images/bannerbackground2.png");
    /* height: 40vw; */

}


.food-list-ancor{
    text-align: center;
    padding: 30px;
}

.food-list-ancor a{
    color: black;
    margin: 30px;
    
}







