
.foodCard{
    float: left;
    width: 320px;
    padding: 15px;
    margin: 10px 15px;
    text-align: center;
    color: black;
    /* border: 1px solid gray; */
}

.foodCard:hover{
    box-shadow: 1px 1px 15px gray;
    border-radius: 10px;

}

.cardImageDiv {
    height: 260px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.cardImgTop {
    width: 100%;
    height: 100%;
}

.cardBody{
    /* padding: 0px; */
    height: 160px;
}

.cardDetail{
    color: gray;
    
}

.cardTitle{
    /* margin: 0px; */
}

@media only screen and (max-width: 1440px) {
  }
@media only screen and (max-width: 1200px) {
    .foodCard{
        width: 243px;
        margin: 10px 41px;
    }
    .cardImageDiv {
        height: 217px;
    }
    .cardDetail{
        margin: 0;
    }
    .cardTitle{
        margin: 0px;
    }
  }
@media only screen and (max-width: 1024px) {
    .foodCard{
        width: 240px;
        margin: 5px 10px;
    }
  }
@media only screen and (max-width: 768px) {
    .foodCard{
        width: 200px;
        margin: 5px;
    }
    .cardImageDiv {
        height: 180px;
    }
    .cardDetail{
        font-size: 12px;
    }
    .cardTitle{
        font-size: 20px;
    }
    .price {
        font-size: 25px;
    }
  }
@media only screen and (max-width: 480px) {
    
  }

